<div class="container">
        <img src="../assets/Braclet/1.jpg" alt="" class="img-thumbnail">
        <img src="../assets/Braclet/2.jpg" alt="" class="img-thumbnail">
        <img src="../assets/Braclet/3.jpg" alt="" class="img-thumbnail">
        <img src="../assets/Braclet/4.jpg" alt="" class="img-thumbnail">
        <img src="../assets/Braclet/5.jpg" alt="" class="img-thumbnail">
        <img src="../assets/Braclet/6.jpg" alt="" class="img-thumbnail">
        <img src="../assets/Braclet/1.jpg" alt="" class="img-thumbnail">
        <img src="../assets/Braclet/2.jpg" alt="" class="img-thumbnail">
        <img src="../assets/Braclet/3.jpg" alt="" class="img-thumbnail">
        <img src="../assets/Braclet/4.jpg" alt="" class="img-thumbnail">
       
        
</div>