<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
    <a class="navbar-brand" href="#" [routerLink]="['/braclets']" routerLinkActive="router-link-active">Braclet</a>
    <a class="navbar-brand" href="#" [routerLink]="['/ear-rings']" routerLinkActive="router-link-active">Ear-Rings</a>
    <a class="navbar-brand" href="#" [routerLink]="['/rings']" routerLinkActive="router-link-active">Rings</a>
    <a class="navbar-brand" href="#" [routerLink]="['/haars']" routerLinkActive="router-link-active">Haar</a>
    <a class="navbar-brand" href="#" [routerLink]="['/extras']" routerLinkActive="router-link-active">Extras</a>
    <a class="navbar-brand" href="#" [routerLink]="['/extras']" routerLinkActive="router-link-active">Radha</a>
  </nav>
</div>

<router-outlet></router-outlet>

<footer class="container font-sm bg-light">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-2 mt-md-0 mt-3">
        <h3>Contact Us</h3>
      </div>
      <div class="col-md-2 mt-md-0 mt-3">
        facebook
      </div>
      <div class="col-md-2 mt-md-0 mt-3">
        instagram
      </div>
      <div class="col-md-2 mt-md-0 mt-3">
        twitter
      </div>
      <div class="col-md-2 mt-md-0 mt-3">
        snapchat
      </div>
      <div class="col-md-2 mt-md-0 mt-3">
        Sarega shoppping plaza
      </div>
    </div>
  </div>

</footer>